:root {
    --primary: #2D83FE;
    --secondary: #0A0D0D;
    --pure: white;
    --dark: black;
}

body{
    background-color: var(--secondary);
}

*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: var(--primary);
    line-height: 70px;
    padding-left: 30px;
}

.header a{
    font-size: xx-large;
}  

a{
    color: var(--pure);
    font-size: larger;
}  

a:hover{
    /*text-decoration: underline;*/
    font-weight: bold;
}  

button{
    position: absolute;
    right: 10px;
    top: 2px;
    background-color: var(--secondary);   
    width: 80px;   
    padding: 7px;   
    margin: 15px auto;   
    border: 2px solid var(--primary);   
    cursor: pointer; 
    color: var(--primary);      
    font-weight: bold; 
}   

button:hover {   
    opacity: 0.7;
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
} 

ul{
    background-color: var(--primary);
    width: 10%;
    height: 100%;
    position: fixed;
    padding: 1px;
    text-align: center;
}

ul li{
    list-style: none;
    padding-top: 30px;
    font-size: 15px;
}

ul li a:hover{
    background: var(--secondary);
    padding: 10px 25px;
    border-radius: 25px;
}

.content{
    margin-left: 12%;
    margin-top: 1%;
    color: var(--primary);
}

table, td, th{
    border: 1px solid var(--primary);
    text-align: center;
}

th{
    color: var(--pure);
    background-color: var(--primary);
}

td{
    color: var(--primary);
}

table{
    width: 98%;
    border-collapse: collapse;
}