:root {
    --primary: #2D83FE;
    --secondary: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
    --pure: white;
    --dark: black;
}

body{
    background-color: var(--secondary);
}

*{
    margin: 0px;
    padding: 0px;
}

.header{
    font-size: x-large;
    font-weight: bold;
    background-color: var(--primary);
    line-height: 100px;
    padding-left: 30px;
    text-align: center;
}

.entrance{
    text-align: center;
}

button{
    display: inline-block;
    font-size: x-large;
    margin-top: 300px;
    background: var(--primary);
    padding: 10px 25px;
    border-radius: 25px;
}

button:hover{   
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
} 
